*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("assests/images/background.jpg");
    height:70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    position: relative;
}
.main .box{
    height:70vh;
    width:100%;
    opacity:0.65;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
nav img{
    width:100px;
    color:red;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height:calc(100% - 62px);
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    gap:23px;
    padding:0px 30px;
}
.hero> :nth-child(1){
    font-family: "poppins", sans-serif;
    font-weight: bolder;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.seperation{
    height:7px;
    background-color: gray;
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
}
.btn-red{
background-color: red;
color:white;
}
.btn-red-sm{
   background-color: red;
   color:white;
}